<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro en la Cafetería</title>
  <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  />
  <link
          rel="stylesheet"
          href="../static/styleRegistro.css"
          th:href="@{/styleRegistro.css}"
  />
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <h2 class="text-center">Registro</h2>
        <form th:action="@{/registro}" method="post" th:object="${usuario}" enctype="multipart/form-data">
          <div class="form-group">
            <label for="imagenPerfil">Imagen de Perfil</label>
            <input type="file" class="form-control-file" id="imagenPerfil" name="imagenPerfil">
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                                <span class="input-group-text"
                                ><i class="fas fa-user"></i
                                ></span>
              </div>
              <input
                      type="text"
                      class="form-control"
                      id="nombre"
                      placeholder="Nombre"
                      th:field="*{nombre}"
                      required
                      autofocus="autofocus"
              />
            </div>
            <small class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                                <span class="input-group-text"
                                ><i class="fas fa-user"></i
                                ></span>
              </div>
              <input
                      type="text"
                      class="form-control"
                      id="apellido"
                      placeholder="Apellido"
                      th:field="*{apellido}"
              />
            </div>
            <small class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                                <span class="input-group-text"
                                ><i class="fas fa-envelope"></i
                                ></span>
              </div>
              <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                      th:field="*{email}"
              />
            </div>
            <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            <small class="text-danger" th:if="${mensajeError}" th:text="${mensajeError}"></small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                                <span class="input-group-text"
                                ><i class="fas fa-lock"></i
                                ></span>
              </div>
              <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Contraseña"
                      th:field="*{password}"
              />
            </div>
            <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
          </div>
          <button type="submit" class="btn btn-success btn-block">
            Registrar
          </button>
          <br>
          <span>si estas registrado <a th:href="@{/logear}" style="color: brown;">inicia sesion aqui</a></span>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
